/*les imports*/
@import variable
@import importe
@import ./_font

/*fin des imports*/
.barre-bleu
    background-color: $colorclaireBleu
    color: white
    margin: 0
    padding: 0
    display: flex
    gap: 3em
.navbar-nav
    display: flex
    flex-direction: column
    padding-left: 0
    margin-bottom: 0
    list-style: none
    text-decoration: none

.navbar-nav .nav-link
    padding-right: 0
    padding-left: 0
    margin-left: 2em    
    display: flex
.img-Font
    background-image: url("/public/img/banner/bg.jpg")
    flex-direction: left
    text-align: center
.video 
    text-align: center
    justify-content: center
    margin: 10em
    height: 150px
    background-color: beige
    margin: 0
    height: 1000px
.video h1
    color: purple

.big
    border: solid
    border: 1em
    border: pink
    background-color: pink

.small    
    border: solid
    border: 1em
    border: blue
.image
    text-align: center
    justify-content: center
    margin: 10em
    height: 350px 
    border: solid
    border: $colortext
    border: 5em
    box-shadow: 5em

.accordeon
    background-image: url("/public/img/about/01.jpg")
    color: pink
    text-align: center
    background-position: cover
    height: 300px
.accordeon button
    height: 3.5em   
    width: 12em 
    color: withe
    background-color:  $colorclaireBleu
    border:  $colorclaireBleu
    border-radius: 0.2em
.card
.prenom img
    height: 6em
    width: 6em
.event
    background-image: url("/public/img/about/01.jpg")    
    justify-content: center
    text-align: center 