/*les imports*/
@import variable
@import importe
@import ./_font

/*fin des imports*/
.barre-bleu
    background-color: $colorclaireBleu
    color: white
    margin: 0
    padding: 0
    display: flex
    gap: 3em
.navbar-nav
    display: flex
    flex-direction: column
    padding-left: 0
    margin-bottom: 0
    list-style: none
    text-decoration: none

.navbar-nav .nav-link
    padding-right: 0
    padding-left: 0
    margin-left: 2em    
    display: flex
.img-Font
    height: 43.8em
    background-image: url("/public/img/banner/bg.jpg")
    color: white
    flex-wrap: wrap
    text-align: center
    align-items: center
    background-position: fixed

.img-Font .registre
    border: solid 
    border: 1em
    border: $colorclaireBleu
    background-color: $colorclaireBleu
    color: white
    height: 2em
    width: 7em
    display: flex
// .img-Font h1 p

.img-Font img
    float: center
.bouton
    align-items: center
    text-align: center

.img-Font h1 p
    text-align: center
    align-items: center
    margin-left: 50px
.img-Font .bouton
    align-items: center
    justify-content: center

.video
    text-align: center
    justify-content: center
    margin: 10em
    height: 150px
    background-color: beige
    margin: 0
    height: 1000px

.video h1
    color: purple

.big
    border: solid
    border: 1em
    border: pink
    background-color: pink

.small    
    border: solid
    border: 1em
    border: blue
.image
    text-align: center
    justify-content: center
    margin: 10em
    height: 350px 
    border: solid
    border: $colortext
    border: 5em
    box-shadow: 5em

.accordeon
    background-image: url("./public/img/about/01.jpg")
    color: pink
    text-align: center
